@font-face {
    font-family: "Bamboo Letters";
    src: url("BambooLetters-2Ozd3.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:visited  {
    color: seagreen;
    text-decoration: none;
}
a:hover, a:visited:hover {
    color: darkseagreen;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: seagreen;
    background-image: url("../gfx/artur-kulagin-ly0IyQtUOCY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 5rem;
}
header a, header a:visited, header a:hover, header a:visited:hover {
    font-family: "Bamboo Letters", Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: .1rem;
    color: white;
    text-decoration: none;
}
.title {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: 100%;
}
.infoText {
    font-style: italic;
    padding: 1.5rem 2rem;
}
fieldset {
    padding: 1.5rem 3rem;
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: 0 .3rem 1rem 0 grey;
    font-style: italic;
}
.inputArea {
    display: flex;
    flex-wrap: wrap;
    font-size: .8rem;
}
input {
    margin-bottom: .5rem;
    padding:.1rem .1rem .1rem .5rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid seagreen;
    width: 25ch;
}
input:focus {
    border: 1px solid blue;
    background-color: lightblue;
    outline:none;
}
.error > input {
    border: 1px solid red;
    background-color: darksalmon;
}
.error2 > input {
    border: 1px solid red;
    background-color: darksalmon;
}
.error2::after {
    color: red;
    content: "not matching!";
}
small {
    font-style: italic;
}
.submit {
    margin: 3rem 0 1rem 3rem;
}
.submit button {
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: seagreen;
    color: ivory;
    font-size: 1rem;
}
.login {
    margin: 0 0 3rem 3rem;
}
